---
id: "1kp"
text_first: false 
title: "1000 Pitches"
description: "Our flagship event of the semester -- plan and execute a semester long, campus wide pitch competition aimed to spur innovative thought and entrepreneurial spirit."
logo: "/img/1kp.png"
---