---
id: "agf"
text_first: false 
title: "Arts Grooves & Foods"
description: "Arts, Grooves, & Foods is a music festival and student talent showcase highlighting creative entrepreneurship in the artistic, musical, and culinary fields. Help us ignite the entrepreneurial aspirations of students from multiple disciplines during a night of thought provoking conversation, soulful tunes, and mouthwatering food."
logo: "img/icons/agf.png"
order: 4
---
