---
id: "agf"
text_first: false 
title: "ARTS GROOVES & FOODS"
description: "Arts, Grooves, & Foods is a music festival and student talent showcase highlighting creative entrepreneurship in the artistic, musical, and culinary fields."
logo: "img/icons/agf.png"
order: 4
---
