---
id: "blog"
text_first: false 
title: "Blog"
description: "Lead the vision and logistics of a brand new platform designed to foster an open campus conversation about the innovative ideas and projects taking place on campus."
logo: "/img/blog.png"
order: 9
---
