---
id: "blog"
text_first: true 
title: "BLOG"
description: "Lead the vision and logistics of a brand new platform designed to foster an open campus conversation about the innovative ideas and projects taking place on campus."
logo: "img/icons/blog.png"
order: 5
---
