---
id: "branding"
text_first: true 
title: "Branding"
description: "Design and spread Spark SC’s vision. Create marketing campaigns and promotions so that the whole campus can see what we’re up to and get involved. See your work plastered on bulletins and event pages."
logo: "/img/icons/design.png"
order: 12
---
