---
order: 20 
id: "serv"
text_first: false 
title: "Community Service"
description: "Design and manage a social entrepreneurship project that engages with the larger Los Angeles community in collaboration with No Right Brain Left Behind."
logo: "img/icons/serv.png"
---
