---
id: "serv"
text_first: true 
title: "Community Service"
description: "Design and manage a social entrepreneurship project that engages with the larger Los Angeles community in collaboration with No Right Brain Left Behind."
logo: "/img/serv.png"
order: "4"
---
