---
order: 20 
id: "serv"
text_first: false 
title: "COMMUNITY SERVICE"
description: "Design and manage a social entrepreneurship project, collaborate with non-profit organizations, and give back to the surrounding Los Angeles community."
logo: "img/icons/serv.png"
---
