---
id: "designworkshops"
text_first: true 
title: "DESIGN WORKSHOPS"
description: "Make a splash in USC’s design community. Help create a curriculum that will take students through many key elements and different facets of the design process."
logo: "img/icons/designworkshops.png"
order: 30
---
