---
id: "dev"
text_first: false 
title: "DEV TEAM"
description: "Create content that engages with our community and highlights the awesome students, groups, and initiatives under the Spark SC umbrella. We are shifting away from newsletters and to blog posts to keep our content relevant and exciting."
logo: "img/icons/dev.png"
order: 6
---
