---
id: "features"
text_first: true 
title: "Features"
description: "Highlight the amazing things students are doing at USC! Use Spark SC’s social media as a platform to identify and showcase incredible USC students doing fascinating work."
logo: "/img/features.png"
order: 7
---
