---
id: "marketing"
text_first: false 
title: "MARKETING"
description: "Create and spread Spark SC’s vision. Design marketing campaigns and promotions so that the whole campus can see what we’re up to and get involved. See your work plastered on builtins and event pages."
logo: "img/icons/marketing.png"
order: 6
---
