---
id: "media"
text_first: true 
title: "Media"
description: "Capture the energy of Spark SC events through photography and videography to share with wider audiences. Help us spread our message and impact beyond our campus."
logo: "/img/media.png"
order: 10
---
