---
id: "media"
text_first: true 
title: "MEDIA"
description: "Spark SC hosts events that bring hundreds of students together and promote a culture of entrepreneurship at USC. Help us capture the excitement by being in the \"first class\" of our media team through photography and videography."

logo: "img/icons/media.png"
order: 10
---
