---
id: "podcast"
text_first: false 
title: "PODCAST"
description: "The Spark SC podcast highlights outstanding faculty, alumni, and student entrepreneurs in entertaining 20 minute long podcast episodes. Help us plan, record, and produce great audio content that gets published to the iTunes podcast store."
logo: "img/icons/podcast.png"
order: 4
---
