---
id: "scf"
text_first: true 
title: "STARTUP CAREER FAIR"
description: "Connect USC talent with top LA startups. Work on outreach and logistics to strengthen USC’s connection to the startups in Los Angeles."
logo: "img/icons/scf.png"
order: 1
---
