---
id: "scf"
text_first: true 
title: "STARTUP CAREER FAIR"
description: "Our flagship event in the spring semester, the TechLA Startup Career Fair, is bringing out top LA startups to connect with students in mid-February. Work on outreach and logistics to help strengthen USC’s connection to the startups in Los Angeles."
logo: "img/icons/scf.png"
order: 1
---
