---
id: "scf"
text_first: true 
title: "STARTUP CAREER FAIR"
description: "Connect USC talent to internships and jobs at top startups in Los Angeles. Your outreach and logistics efforts will be part of developing USC's relationship with the surrounding entrepreneurial community."
logo: "img/icons/scf.png"
order: 1
---
