---
id: "scf"
text_first: true 
title: "Startup Career Fair"
description: "Connect USC talent with top LA startups. Work on outreach and logistics to strengthen USC’s connection to the startups in Los Angeles."
logo: "/img/scf.png"
---
