---
id: "tours"
text_first: false 
title: "TECH TOURS"
description: "This is your opportunity to get connected to the growing tech scene in Los Angeles – reach out to founders, build relationships with companies, and set up \"field trips\" all throughout the LA startup community."
logo: "img/icons/tours.png"
order: 9
---
