---
id: "tours"
text_first: false 
title: "Tech Tours"
description: "Get an inside look at LA’s startup scene, from Snapchat to SpaceX – build relationships with founders and startups as you set up “field trips” all throughout the LA startup community."
logo: "/img/icons/tours.png"
order: 9
---
