---
id: "techla"
text_first: true 
title: "TECHLA INTERNSHIPS"
description: "Help connect students with paid internships in Los Angeles. Build the TechLA brand, familiarize yourself with LA companies and recruiters, and be the interface between USC and the LA startup community."
logo: "img/icons/techla.png"
order: 3
---
