---
id: "techla"
text_first: true 
title: "TechLA Internships"
description: "Help students land paid internships at startups in Los Angeles. Build the TechLA brand, familiarize yourself with LA companies and recruiters, and act as the liaison between USC and the LA startup community."
logo: "/img/icons/techla.png"
order: 3
---
