---
id: "usch"
text_first: true 
title: "USC Hackers"
description: "Our initiative to unite the growing hacker culture at USC. Organize events to mobilize USC’s talented engineers and facilitate collaboration and camaraderie."
logo: "/img/usch.png"
order: "20"
---
