---
order: 2
id: "usch"
text_first: false 
title: "USC HACKERS"
description: "Our initiative to unite the growing hacker culture at USC. Organize events to mobilize USC’s talented engineers and facilitate collaboration and camaraderie."
logo: "img/icons/usch.png"
---
