---
order: 2
id: "usch"
text_first: false 
title: "USC HACKERS"
description: "Make an impact in the USC Computer Science community by representing USC Hackers, and throwing large-scale events that help lower the barriers to entry to hacking at USC."
logo: "img/icons/usch.png"
---
