extends layout

block content
    body
        div.sections
            section.all(style="background-image: url(/img/background.jpg); background-size: cover")
                section.header
                    div.container
                        div.rowcustom
                            img(src="img/letterhead-full.svg" alt="Spark SC")
                            div.title Committee Information &middot; <span class="date">Spring 2016</span>

            section.content
                div.container
                    div.row
                        div.information
                            |Spark SC Committees are your opportunity to get involved with the planning and execution of some of the largest events and initiatives on campus. We're looking for talented student leaders to join our team and help us do great things.
                            a(href="http://sparksc.org/apply/form/")
                                <button>Apply Here</button>
                            hr


                div.container

                    div(style="text-align:center; padding-bottom:20px; color:#383938;")
                        p(style="margin:auto; font-size: 28px; font-weight: 600; font-style: italic;").work What will <span style="font-weight: 800; color: #febf0f;">you</span> work on?
                        p.inmind(style="font-weight: 600;") Here are some committees we had in mind:

                    for committee, index in site.committees.all().sort(function(a,b){var x = a['order']; var y = b['order']; return ((x < y) ? -1 : ((x > y) ? 1 : 0));})
                        if (index % 3 == 0)
                            div.row
                                for committee2, index2 in site.committees.all().sort(function(a,b){var x = a['order']; var y = b['order']; return ((x < y) ? -1 : ((x > y) ? 1 : 0));}).slice(index, index+3)
                                    div.one-third.column.committee(style="background-image:url(#{committee2.logo})")
                                        h2 #{committee2.title}
                                        p #{committee2.description}

            section.calltoaction
                img(src="img/wewantyouhere-og.jpg" alt="We Want You Here!").background
                h2.wewantyouhere We Want<br>You Here
                img(src="img/location.svg" alt="You").location
                img(src="img/spark.svg" alt="Spark SC").spark

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="js/parallax.min.js")
        script.
            ( function( $, window, document, undefined ) { // Resizes cards to the same height with respect to their rows.
                'use strict';
                var $list = $('.row'),
                $items = $list.find('.column'),
                setHeights = function() {
                    $items.css('height', 'auto');
                    var perRow = Math.floor( $list.width() / $items.width() );
                    if( perRow == null || perRow < 2 ) return true;
                    for(var i = 0, j = $items.length; i < j; i += perRow) {
                        var maxHeight = 0,
                        $row = $items.slice( i, i + perRow );
                        $row.each(function() {
                            var itemHeight = parseInt($( this ).outerHeight());
                            if (itemHeight > maxHeight) maxHeight = itemHeight;
                        });
                        $row.css('height', maxHeight);
                    }

                };

                    setHeights();
                    $( window ).on( 'resize', setHeights );

            })( jQuery, window, document );

            //- $('.all').parallax({imageSrc: '/img/background.jpg'});

        script(type='text/javascript').
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48870049-6', 'auto');
            ga('send', 'pageview');
