extends layout

block content
    div.sections
        section.splash
        section.committees
            div.committee
                div.sm.left
                div.lg.right
                    h2 Hello World
                    p Jaslkcnv dfosdivj fvsdoijv oiasj adjsvsdoijv isodj oiasj coaijvoi sdjviosdjv oaisjc sac. Aas vsdvsd vlksdjvlksajf aklsjflaj lksdjv sdklvjskdlvjlsdkv jsdvlsdj vklsjd vlkajskl asjdkl asjlk asjvlksdj vlksdjvkl sdj vl.
            div.committee
                div.lg.left
                    h2 Hello World
                    p Jaslkcnv dfosdivj fvsdoijv oiasj adjsvsdoijv isodj oiasj coaijvoi sdjviosdjv oaisjc sac. Blah asaskjhsdv iejfoie joisdj voisdjvio sdjviosd jviosjfio ajsiofj asoifjadiovj sdiovjsdio v jaiosfj asioj aidossvj sdiovj sdiojv iosdjv iosd jv.
                div.sm.right
        section.calltoaction
            img(src="img/wewantyouhere.jpg" alt="We Want You Here!").background
            h2.wewantyouhere We Want<br>You Here
            img(src="img/location.svg" alt="You").location
            img(src="img/spark.svg" alt="Spark SC").spark
