@import '_settings'

normalize-css()

$content-area = 92%

body
    font-family 'Proxima Nova'
    background white

.committees
    width $content-area
    margin 0 auto; padding 100px 0

    .committee
        width 100%
        padding 35px 0
        display block
        font-size 0

        .sm, .lg
            display inline-block
            vertical-align top
            font-size $font-size /* default */

        .sm
            width 25%

            img
                width 50%
                margin 0 auto
                display block
                border-radius 9999px
                background rgba(253,189,21,1)

        .lg
            width 75%

            h2
                margin 0; padding 0
                padding-top 20px
                font-size 28px
                font-weight 700
                letter-spacing 2px
                text-transform uppercase
                color #373939

            p
                margin 0; padding 0
                padding-top 20px
                font-size 16px
                line-height 32px
                letter-spacing 1px
                color #444

            &.left
                text-align right

                h2
                    padding-right 20px

                p
                    padding-right 20px

            &.right
                text-align left

                h2
                    padding-left 20px

                p
                    padding-left 20px

.calltoaction
    width 100%; height 440px
    position relative
    overflow hidden

    .background
        width 2048px
        position absolute
        left -258px
        z-index -999

    .wewantyouhere
        position absolute
        top 85px; left 120px
        font-size 32px
        text-align center
        text-transform uppercase
        line-height 38px
        letter-spacing 1px
        color white
        z-index 1

    .location
        width 190px
        position absolute
        top 175px; left 108px

    .spark
        width 160px
        position absolute
        right 40px; bottom 20px
        z-index 1

// .pitches
//     .sm
//         img
//             width 70% !important
// .agf
//     .sm
//         img
//             width 90% !important
// .scf
//     .sm
//         img
//             width 48% !important
// .usch
//     .sm
//         img
//             width 35% !important
// .techla
//     .sm
//         img
//             width 70% !important

@media only screen and (max-width: 480px)
    .committees
        .committee
            .sm, .lg
                width 100%

                &.left, &.right
                    text-align center

                    h2, p
                        padding-left 0; padding-right 0
