@import '_settings'

normalize-css()

$content-area = 92%

html, body
    width 100%; height 100%

body
    // TODO: load Proxima Nova
    font-family 'Proxima Nova', Helvetica Neue, Helvetica, Arial, sans-serif
    background white

.sections
    width 100%; height 100%

.splash
    width 100%; height 100%
    position relative
    background rgba(253,189,21,1)
    display flex
    align-items center
    justify-content center

    img
        width 100px
    h1
        margin 0 0 0 35px; padding 6px
        font-size 30px
        text-transform uppercase
        letter-spacing 1px
        vertical-align middle
        color white

.header
    height 400px
    margin-bottom 50px

    .rowcustom
        text-align center

        img
            width 400px
            max-width 100%
            margin-top 100px 

        .title
            margin-top: 50px;
            font-size: 2.2rem;
            letter-spacing: 1px
            color white

.information
    font-size 2.2rem
    text-align center
    letter-spacing 0.5px
    color #FEBF0F

    a
        margin-top 20px
        display block
        text-decoration none

    button
        margin 20px
        border-color #FEBF0F
        background #FEBF0F
        color #FFF

        border-radius 0
        border-width 1px
        border-style solid
        border-color rgba(0, 0, 0, .2)
        box-shadow 2px 2px 2px rgba(0,0,0,0.25)

    button:hover
        color #EEE

    .closed
        margin-top 20px
        padding 5px
        border 1px solid white
        color white
        text-transform uppercase

    hr
        width 320px
        border 0
        border-bottom 1px solid #555

.committee 
    margin-bottom 40px
    padding 30px 20px
    // border-radius 4px
    background #FEBF0F
    box-shadow 2px 2px 2px rgba(0,0,0,0.15)

    border-width 1px
    border-style solid
    border-color rgba(0, 0, 0, .25)

    background-size 60%
    // background-size cover
    background-position center 
    background-repeat no-repeat
    text-align center

    min-height 250px

    h2
        font-weight 800
        font-size 1.7rem
        letter-spacing 1px
        color black
        
    p
        font-size 1.4rem
        letter-spacing 1px
        color black
        visibility hidden

    &:hover
        background-color white
        background-image none !important

        h2
            // color #febf0f

        p
            visibility visible

.calltoaction
    width 100%; height 440px
    position relative
    overflow hidden

    .background
        width 2048px
        position absolute
        left -258px
        z-index -999

    .wewantyouhere
        position absolute

        font-family 'Proxima Nova', Helvetica Neue, Helvetica, Arial, sans-serif
        font-size 32px
        top 110px; left 110px

        text-align center
        text-transform uppercase
        line-height 40px
        letter-spacing 1px
        color white
        text-shadow 1px 1px 5px rgba(0,0,0,0.25)
        z-index 1

    .location
        width 195px
        position absolute
        top 210px; left 108px 

    .spark
        width 160px
        position absolute
        right 40px; bottom 20px
        z-index 1

@media only screen and (max-width: 480px)
    .committees
        .committee
            .sm, .lg
                width 100%

                &.left, &.right
                    text-align center

                    h2, p
                        padding-left 0; padding-right 0
